{
    background-color: #f5ebd2;
}

.nav-link:hover{
    background-color: rgb(228, 202, 202);
    border-radius: 1.2rem;
    color: brown;
}

.img_cupones{
    border-radius: 1.4rem;
}

.bg-red{
    background-color: rgb(215,35,0) !important;
}

footer{
    height: auto;
    background-color: rgb(80,35,20);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

a{
    text-decoration: none;
    color:white;
}

footer p{
    color:white;
}